@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure DevOps!</h1>
    <h2>Get Certificates</h2>
    <ul>
        <li>Az-900</li>
        <li>Az-104</li>
        <li>Az-400</li>
    </ul>
    <h2>Learn Web Dev</h2>
    <ul>
        <li>Javascript</li>
        <li>Node</li>
        <li>React</li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
